<form *ngIf="filterForm$ | async as filterForm" [formGroup]="filterForm">
    <mat-form-field>
        <mat-label>ID</mat-label>
        <input matInput placeholder="ID" formControlName="id" type="number">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Nome</mat-label>
        <input matInput placeholder="Nome" formControlName="nome">
    </mat-form-field>
    <mat-form-field>
        <mat-label>CPF</mat-label>
        <input matInput placeholder="CPF" formControlName="cpf" mask="000.000.000-00">
    </mat-form-field>
    <mat-form-field>
        <mat-label>Situação</mat-label>
        <mat-select formControlName="situacao">
            <mat-option *ngFor="let situacao of alunoSituacoes$ | async" [value]="situacao.name">
                {{ situacao.description }}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Curso</mat-label>
        <input matInput formControlName="cursoId" type="number">
    </mat-form-field>
</form>